.top-menu {
  a {
    display: block;
    background-repeat: no-repeat;
  }

  #menu_home {
    background-image: url('/assets/home.jpg');

    &:hover {
      background-image: url('/assets/home-active.jpg');
    }
  }
}
