extends ../layouts/application.jade

block title
  title Объекты

block menu
  - var active = 'objects';

block content
  .article
    table#objlist(border='0' align='center' cellpadding='0' cellspacing='0')
      tbody
        tr
          td(height='147' align='center')
            p.Main_text_white &nbsp;
            table(border='0' text-align='left')
              tbody
                tr
                  td.Headline(width='147' rowspan='2')
                    img(src='/assets/smolny.jpg' width='130' height='224')
                    br
                    img(src='/assets/pushkin.jpg' width='130' height='79')
                    br
                    img(src='/assets/fedorovsky.jpg' width='130' height='179')
                    br
                  td.Headline(width='749' style='text-align: justify;').
                    ОБЪЕКТЫ
                tr
                  td.Body_left_white(height='464')
                    p(style='text-align: justify;')
                      span.Headline
                        | Список объектов, на которых проводились
                        | работы нашими специалистами
                        br
                        | по обследованию, очистке и восстановлению
                        | дымовых и вентиляционных каналов:
                    p(style='text-align: justify;')
                      | 1. Исаакиевский собор
                      br
                      | 2. Сампсониевский Собор и Юбилейный домик
                      br
                      | 3. Смольный Собор
                      br
                      | 4. Здание ГУ ЦБ РФ по СПб
                      br
                      | 5. Здание Администрации Исаакиевского Собора
                      | («Серебряные ряды»)
                      br
                      | 6. Юсуповский дворец
                      br
                      | 7. Церковь Богоявления Господня
                      | (Храм Богоявления на Гутуевском острове)
                      br
                      | 8. Академия Русского балета имени А. Я. Вагановой
                      br
                      | 9. Дворец графов Бобринских
                      | (учебный корпус Санкт-Петербургского университета)
                      br
                      | 10. Валаамское подворье
                      br
                      | 11. Здание Офицерского Морского Собрания
                      | (бывшая Дача А. А.Половцева)
                      br
                      | 12. Музей антропологии и этнографии
                      | им. Петра Великого (Кунсткамера) РАН
                      br
                      | 13. Комитет по культуре
                      br
                      | 14. Комитет Управления Государственным Имуществом
                      br
                      | 15. Северо-Западное речное пароходство (СЗП)
                      br
                      | 16. Церковь Святой Великомученицы Екатерины
                      | (г. Павловск)
                      br
                      | 17. Оранжерейный корпус ГМЗ Пушкин
                      br
                      | 18. Александровский дворец ГМЗ Пушкин
                      br
                      | 19. Феодоровский Государев Собор
                      br
                      | 20. «Дача №1» ФГУ «Дом отдыха «Валдай»
                      | Управления делами Президента Российской
                      | Федерации
                      br
                      | 21. Часные дома и квартиры в Санкт-Петербурге,
                      | Ленинградской области, Пскове, Новгороде
