extends ./layouts/application.jade

block title
  title Трубочистное дело

block content
  table(cellspacing='0' cellpadding='0', align='center', border='0',
        width='966')
    tbody
      tr
        td(align='center', height='147')
          p &nbsp;
          p
            img(height='265', width='169', src='/images/logo_main.png')
      tr
        td(valign='top', align='center', height='307')
          p &nbsp;
          p &nbsp;
          p(class='Main_text_white')
            | Мы специализируемся на предпроектном обследовании
            | вентиляционных систем
            br
            | и внутристенных вентиляционных каналов,
            | c последующим использованием
            br
            | в системах вентиляции и отопления. Мы занимаемся восстановлением
            br
            | исторических систем вентиляции зданий и трубоочистными работами
            br
            | с использованием мировых технологий и собственного
            br
            | обширного опыта в этой области.
            br
            span(class='text_black').
              _______________________________________________________________
          p(class='Main_text_white') Добро пожаловать на наш сайт!
