doctype html
html.no-js(lang='')
  head
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    block title
      title Трубочистное дело
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // Place favicon.ico and apple-touch-icon(s) in the root directory
  body
    | <!--[if lt IE 8]>
    | <p class="browsehappy">
    |   Вы используете <strong>устаревший</strong> браузер.
    |   Пожалуйста <a href="http://browsehappy.com">обновите браузер</a>
    |   для корректной работы сайта.
    | </p>
    | <![endif]-->
    block content
